<% if user_signed_in? %>
	<p>Signed in as <em><%= current_user.email %></em></p>
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<%= current_user.event_ids %>
	<p>
		<h1>Parts:</h1>
		<span>
			<%= current_user.participant_event_ids %>
		</span>
	</p>
	<%= link_to "Profile", profile_path(current_user) %>
<% else %>
	Welcome to Events manager.
	<%= link_to "Sign in", new_user_session_path %>
<% end %>
