<% if user_signed_in? %>
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-info">
				<div class="panel-heading">Forthcoming events:</div>
				<div class="panel-body">
					<% @events.each do |event| %>
						<ul class="list-unstyled">
							<li><%= link_to(event.title, event) %></li>
							<li><%#= number_of_participants(event) %></li>
						</ul>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-info">
				<div class="panel-heading">Top users:</div>
				<div class="panel-body">
					<% @top_users.each do |user| %>
					<div class="media">
						<a class="pull-left" href="#">
							<%= image_tag(user[0].profile.avatar.url, class:"media-object") %>
						</a>
						<div class="media-body">
							<h4 class="media-heading"><%= user[0].profile.first_name %> <%= user[0].profile.last_name %></h4>
								<p>events count: <%= user[1] %></p>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% else %>
	<%= image_tag("352745.jpg", :class => "bg") %>
	<div class="home">
		<div class="page-header pull-right">
			<h1>The Events manager.</h1>
			<p>
				This is a simple <span class="text-primary">"Ruby on Rails"</span> project. To upgrade a full stack of skills.
			</p>
			<p>
				<%= link_to "Learn more", 'about page', class:"btn btn-default" %>
				<%= link_to "Sign up", new_user_registration_path, class:"btn btn-default" %>
			</p>
		</div>
	</div>
<% end %>