<h1>Listing tracks</h1>


<%= @tracks.each do |track| %>
	<%= track.id %>
	<iframe id="sc-widget" width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= track.id %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=false"></iframe>

	<%= form_for(Track.new(:track_id => track.id)) do |f| %>
	  <div><%= f.text_field :playlist_id %></div>
	  <div><%= f.text_field :track_id %></div>
	  <%= f.submit "add to playlist" %>
	<% end %>

<% end -%>

<br>

<%= link_to 'New Track', new_track_path %>