<div class="row">
<div class="col-lg-6 col-lg-offset-3">
  <div class="well bs-component">
    <%= form_for (@event), html: { class:"form-horizontal" } do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <legend>Edit event</legend>
      <div class="form-group">
        <%= f.label :title, class:"col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :title, class:"form-control" %>
        </div>
      </div>
      <!-- will be removed -->
      <div class="form-group">
        <%= f.label :status, class:"col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.check_box :status, class:"form-control" %>
        </div>
      </div>
      <!-- end -->
      <div class="form-group">
        <%= f.label :description, class:"col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_area :description, class:"form-control", rows:"3" %>
        </div>
      </div>
      <% if @event.status %>
        <div class="form-group">
          <%= f.label :time, class:"col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%= f.datetime_select :time, class:"form-control" %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :place, "Location place", class:"col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :place, class:"form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :latitude, class:"col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :latitude, class:"form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :longitude, class:"col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :longitude, class:"form-control" %>
        </div>
      </div>
        <%= f.hidden_field :user_id %>
      <div class="form-group">
        <%= f.label :categories, class:"col-lg-2 control-label" %>
        <%= hidden_field_tag "event[category_ids][]", nil %>
        <div class="col-lg-10">
          <% Category.all.each do |category| %>
              <%= check_box_tag "event[category_ids][]", category.id, @event.category_ids.include?(category.id), id: dom_id(category) %>
              <%= label_tag dom_id(category), category.name %>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :tag_tokens, "Tags", class:"col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :tag_tokens, data: {load: @event.tags} %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= link_to "Back", events_path, class:"btn btn-default" %>
          <%= f.submit class:"btn btn-primary" %>
        </div>
      </div>
      </fieldset>
    <% end %>
  </div>
</div>
</div>