<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_field :time %>
  </div>
  <div class="place">
    <span>Location place:</span>
    <%= f.label :place %>
    <%= f.text_field :place %>
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= hidden_field_tag "event[category_ids][]", nil %>
    <% Category.all.each do |category| %>
      <%= check_box_tag "event[category_ids][]", category.id, @event.category_ids.include?(category.id), id: dom_id(category) %>
      <%= label_tag dom_id(category), category.name %><br>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :tag_tokens, "Tags" %><br />
    <%= f.text_field :tag_tokens, data: {load: @event.tags} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
