<p id="notice"><%= notice %></p>


<!-- temp block -->
<%= form_tag tracks_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query], data: {autocomplete_source: tracks_path} %>
  </p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= markdown(@event.description) %>
</p>

<p>
  <strong>Location place:</strong>
  <%= @event.place %>
  <%= @event.latitude %>
  <%= @event.longitude %>
</p>
<%= render 'map', event: @event %>

<b>Categories:</b>
<ul>
  <% @event.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<strong>Tags:</strong>
<ul>
<% @event.tags.each do |tag| %>
  <li><%= tag.name %></li>
<% end %>
</ul>

<div class="photos">
  <h3>Photos:</h3>
  <%= render 'photos/index' %>
</div>

<% if current_user.participations.find_by_event_id(@event.id) %>

<%= form_for(current_user.participations.find_by_event_id(@event),
             html: { method: :delete } ) do |f| %>
  <%= f.submit "Unfollow", class: "btn btn-large" %>
<% end %>

<% else %>

<%= form_for(current_user.participations.build(event_id: @event.id, user_id: current_user.id) ) do |f| %>
  <div><%= f.hidden_field :event_id %></div>
  <div><%= f.hidden_field :user_id %></div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>

<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<%= subscribe_to "/comments/new" %>
<%= subscribe_to "/comments" %>
<%= render :partial => "comments/index" %>