<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<% if current_user.participations.find_by_event_id(@event.id) %>

<%= form_for(current_user.participations.find_by_event_id(@event),
             html: { method: :delete } ) do |f| %>
  <%= f.submit "Unfollow", class: "btn btn-large" %>
<% end %>

<% else %>

<%= form_for(current_user.participations.build(event_id: @event.id, user_id: current_user.id) ) do |f| %>
  <div><%= f.hidden_field :event_id %></div>
  <div><%= f.hidden_field :user_id %></div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>

<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
