<p id="notice"><%= notice %></p>


<!-- temp block -->
<%= link_to "Playlist", playlist_path(@event.playlist.id) %>


<div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h3><%= @event.title %></h3>
    </div>
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= markdown(@event.description) %></dd>
      <dt>Categories</dt>
      <dd>
        <ul class="list-inline">
          <% @event.categories.each do |category| %>
            <li><%= category.name %></li>
          <% end %>
        </ul>
      </dd>
      <dt>Tags</dt>
      <dd>
        <ul class="list-inline">
          <% @event.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        </ul>
      </dd>
      <dt>Time</dt>
      <dd><%= @event.time %></dd>
      <dt>Location</dt>
      <dd>
        <%= @event.place %>
        <%= @event.latitude %>
        <%= @event.longitude %>
        <a id="showmap">Show on map</a>
        <div class="map">
          <%= render 'map', event: @event %>
        </div>
      </dd>
    </dl>
    <h3>Photos</h3>
    <%= render 'photos/index' %>
  </div>
</div>

<% if @event.status %>

  <%= form_for(@event) do |f| %>
    <%= f.hidden_field :status, value: false %>

    <%= f.submit "Complete event" %>
  <% end %>

  <% if current_user.participations.find_by_event_id(@event.id) %>

  <%= form_for(current_user.participations.find_by_event_id(@event),
               html: { method: :delete } ) do |f| %>
    <%= f.submit "Unfollow", class: "btn btn-large" %>
  <% end %>

  <% else %>

  <%= form_for(current_user.participations.build(event_id: @event.id, user_id: current_user.id) ) do |f| %>
    <div><%= f.hidden_field :event_id %></div>
    <div><%= f.hidden_field :user_id %></div>
    <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
  <% end %>

  <% end %>
<% else %>
  <strong>event ended</strong>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<%= subscribe_to "/comments/new" %>
<%= subscribe_to "/comments" %>
<%= render :partial => "comments/index" %>